

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.container {
  display: flex;
  margin: 90px;
  padding: 20px;
  text-align: justify;
  border-radius: 20px;
  border: solid;

}

/**.container {
    display: flex;
    flex-direction: /**[row] /**row-reverse / column / column-reverse];**/;
    /**flex-wrap: /**[wrap-reverse] /** / wrap / wrap-reverse];**/;
    /**flex-flow: [column];
    justify-content: [center]/**flex-start/**flex-end/center/space-between/space-around];**/;
    /**align-content: []/**[stretch/flex-start/flex-end/center/space-between/space-around]**/;
    /**align-items: [center]/**[stretch/flex-start/flex-end/center/baseline]**/;
    

 /** flex
Esta propriedade é uma forma abreviada para a escrita das propriedades flex-grow, flex-shrink e flex-basis, nesta ordem.

A sintaxe dessa propriedade é a seguinte:


.item {
  flex: [flex-grow] [flex-shrink] [flex-basis]
}
/**
  flex-grow
Esta propriedade define a proporção com que um item deve crescer caso seja necessário. Por padrão seu valor é 0, o que indica que o item não deve crescer, e são aceitos apenas valores numéricos positivos.

A sintaxe dessa propriedade é a seguinte:

.item2 {
  flex-grow: [número]
}
flex-shrink
Esta propriedade define a proporção com que um item deve encolher caso seja necessário. Por padrão seu valor é 0, o que indica que o item não deve encolher, e são aceitos apenas valores numéricos positivos.

A sintaxe dessa propriedade é a seguinte:

.item2 {
  flex-shrink: [número]
}
flex-basis
O flex-basis define o tamanho inicial que um item deve ter antes que o espaço ao seu redor seja distribuído. Ou seja, dependendo da direção do eixo principal (horizontal ou vertical), essa propriedade define a largura ou altura mínima do elemento antes que ele seja redimensionado por outras propriedades.

A sintaxe dessa propriedade é a seguinte:

.item2 {
  flex-basis: [número]
}
O valor atribuído a essa propriedade pode ser em percentual, em pixels, ou a palavra auto, que é o valor padrão (considera as dimensões do item - width e height).**/

 





