body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

span {
    font-size: 12px;
}
#readme {
    font-size: 1em
}

#inputButton {
    display: flex;
    justify-content: center;
}
#inputButton input, button {
    border: 1px groove;
    border-radius: 15px;
    margin: 10px;
    padding: auto;
    font-size: 12px;
}
#inputButton input {
    width: 50px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    padding: 2px 5px;
}

#color-palette {
    display: flex;
    justify-content: center;
}
.color {
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
}

#clear-board {
    display: inline-block;
    font-size: 12px;
    background-color: #000;
    color: rgb(255, 251, 0);
    border-radius: 10px;
    height: 20px;
    width: 90px;
}
#eraser {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
}
#eraserText {
    display: inline;
}

#color-palette div:nth-child(1) {
    background-color: #000;
}
#pixel-board {
    margin: 20px 0 0 0;
    padding: 10px 10px 150px 0;
    background-image: url(palco.png);
    background-size: 100%;
    background-position: 0 80%;
}
#pixel-board div {
    display: flex;
    justify-content: center;
}
.pixel {
    background-color: #fff;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 1px;
}

footer {
    background-color: rgb(0, 42, 0);
    color: white;
    font-size: 12px;
    padding: 2px;
    width: 100%;
    height: 200px;
    position: sticky;
}