body {
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 763px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  align-items: center;
}
.flexHeader {
  margin: 13px;
}
#texto-tarefa {
  padding: 13px;
  min-width: 300px;
  font-size: 16px;
}

main {
  background: linear-gradient(0deg, rgb(197, 234, 255), rgb(255, 255, 255));
  border-radius: 0 45px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  max-width: 80%;
  min-width: 450px;
  height: 800px;
}

#sectionOfButtons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
#sectionOfButtons button {
  flex: 1;
  margin: 3px;
  padding: 3px;
  font-size: 16px;
  flex-wrap: wrap;
  border-style: none;
}
#sectionOfButtons button:hover {
  box-shadow: 2px 2px 15px rgb(6, 68, 6);
  transition-duration: 0.3s;
}
#apaga-tudo {
  background: red;
  color: #fff;
  font-weight: 800;
}
#apaga-tudo:hover {
  font-size: 18px;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 15px rgb(255, 96, 96);
}

.sectionList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: auto 0;
}
#lista-tarefas {
  background-color: rgba(12, 4, 4, 0.205);
  font-family: monospace;
  height: 330px;
  font-size: 23px;
  min-width: 80%;
  max-width: 85%;
  width: 100%;
  overflow: auto;
  text-align: left;
}
li {
  border-radius: 5px;
  margin: 13px 0 0 30px;
  padding: 7px;
}

.select {
  background-color: rgb(128, 128, 128);
  color: white;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
  margin: 13px 0 0 30px;
  border-radius: 5px;
}

.buttonUpDown {
  margin: 0 auto;
  padding: 5px;
}
.buttonUpDown button {
  font-size: 28px;
  width: 70px;
  margin: 15px;
}

footer {
  bottom: 20px;
  position: fixed;
}

#criar-tarefa {
  color: #000;
  padding: 10px;
  cursor: pointer;
  display: block;
  position: relative;
  border: 1px solid #f7ca18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 7px;
  width: 230px;
  font-size: 16px;
  font-weight: 600;
}
#criar-tarefa:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
}
#criar-tarefa:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}
#criar-tarefa:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #f7ca18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
